
<form action="/square/results">
  <div>
    <label for="giraffer">Enter a number</label>
  </div>
  <div>
    <input id="giraffe" type="text" name="users_number" placeholder="What number do you want to take the square of?">
  </div>
  <button>Calculate square</button>
</form>
